{% extends 'home/base.html' %}

{% block content %}

<div class="header_section">
    <h1 class="text-center">Currency Exchange</h1>
</div>

<div class="form-container">
    <form method="POST">
        {% csrf_token %}
        <div class="input-group mb-3">
            <select class="custom-select" id="from_country" name="from_country">
                {% if f_country %}
                <option selected>{{f_country}}</option>
                {% else %}
                <option selected>USD</option>
                {% endif %}
                {% for code in codes%}
                <option value="{{code}}">{{code}}</option>
                {% endfor%}
            </select>
        </div>
        <div class="input-group mb-3">
            <select class="custom-select" id="to_country" name="to_country">
                {% if t_country %}
                <option selected>{{t_country}}</option>
                {% else %}
                <option selected>INR</option>
                {% endif %}
                {% for code in codes%}
                <option value="{{code}}">{{code}}</option>
                {% endfor%}
            </select>
        </div>
        <div class="text-center">
            <button class="btn btn-outline-info" type="submit">Submit</button>
        </div>
        <div class="rate-label">
            {% if rate%}
            <label class="input-group-text rate">Rate : {{rate}}</label>
            {% endif %}
        </div>
    </form>
</div>

{%endblock%}