.navbar .navbar-brand{
    padding: 0 1rem 0 5rem;
}

.navbar{
    padding: 1rem 5rem;
}


.navbar .nav-item .nav-link{
    padding: 1.7rem;
}

@media only screen and (max-width: 780px){
    .navbar .navbar-brand{
        padding: 0%;
    }
    .navbar{
        padding: 2%;
        margin: 0%;
    }
}

.form-container{
    margin: auto;
    padding-top: 2%;
    max-width: 500px;
    min-width: auto;
}

.rate-label{
    margin: 2rem;
}
