.navbar .navbar-brand{
    padding: 0 1rem 0 5rem;
}

.navbar{
    padding: 1rem 5rem;
}


.navbar .nav-item .nav-link{
    padding: 1.7rem;
}

.form-container{
    margin: 2rem 20rem;
}

.rate-label{
    margin: 2rem;
}
